.fix-form_form {
    height:100%;
    display:grid;   
    grid-template-columns: max-content min-content;
    grid-template-rows: max-content min-content;
    justify-content: center;
    align-content: center;
    /* background-color: green; */
    gap:10px;
    grid-template-areas: ". close"
    "edit .";
}

.form_button-close {
    position: relative;
    width:30px;
    height:30px;
    grid-area:close;

}

.form_edit {
    width:430px;
    height:330px;
    display:flex;
    flex-direction: column;
    background-color:white;
    border-radius: 15px;
    grid-area: edit;
}

.edit {
    width:358px;
    margin:0 auto;
    font-size: 14px;
    border:0;
    border-bottom:1px solid black;
    padding-bottom:5px;
    outline: none;
}

.edit_title {
    width:358px;
    margin:34px auto 54px auto;
    font-size: 24px;
    font-weight: 900;
}

.edit_name {
    margin-bottom:30px;
}

.edit_work {
    margin-bottom: 48px;
}

.edit_save {
    width:358px;
    height:50px;
    background-color: black;
    color:white;
    font-weight: 900;
    font-size:18px;
    margin:0 auto;
    /* transition: opacity 1s linear 0s; */
}

.edit_save:hover {
    opacity:0.8;
}

.close_one {
    width:5px;
    height:30px;
    background-color: white;
    position: absolute;
    top:0;
    left:12.5px;
    transform: rotate(45deg);
    transition: all .2s ease-in 0s;
    /* z-index: -1; */
}

.close_two {
    width:5px;
    height:30px;
    background-color: white;
    position: absolute;
    top:0;
    right:12.5px;
    transform: rotate(-45deg);
    transition: all .2s ease-in 0s;
    /* z-index: -1; */
}

.form_button-close:hover .close_one {
    transform: rotate(-45deg);
}

.form_button-close:hover .close_two {
    transform: rotate(45deg);
}

@media screen and (max-width:755px) {
    .form_edit {
        width:282px;
        height:322px;
    }

    .edit_title {
        width:238px;
        font-size: 18px;
    }

    .edit_save {
        width:238px;
        height:46px;
        font-size: 14px;
    }

    .edit_name {
        width:238px;
    }

    .edit_work {
        width:238px;
    }
}



