@import url(./_avatar.css);
@import url(./_info.css);
@import url(./_add-button.css);

.profile {
    width:68.75%;
    margin:40px auto 0 auto;
    display:flex;
    color:white;
    align-items: center;
    justify-content: space-between;
}

.info_container {
    display:flex;
    align-items: center;
}

@media screen and (max-width:755px) {
    .profile {
        flex-direction: column;
        text-align:center;
        width:90%;
    }

    .info_container {
        flex-direction: column;
    }
}

@media screen and (max-width:400px) {
    .info_container {
        max-width:320px;
    }
}